name: GitOps Update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Debug Key
        shell: bash
        env:
          PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
        run: |
          echo "Key length: ${#PRIVATE_KEY}"
          echo "First 20 chars: ${PRIVATE_KEY:0:20}"    
      - name: Update Tag
        uses: dopxlab/gitops-update@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          installation_id: 112435181
          repository: tutorial-org-joby/gitops-update-action-test-target
          branch: main
          file_path: tag.yaml
          yaml_key: image.tag
          new_value: v${{ github.run_id }}
