name: GitOps Update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update Tag
        uses: dopxlab/gitops-update@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          installation_id: ${{ secrets.INSTALLATION_ID }}
          private_key: ${{ vars.APP_PRIVATE_KEY }}
          repository: tutorial-org-joby/gitops-update-action-test-target
          branch: main
          file_path: tag.yaml
          yaml_key: image.tag
          new_value: v${{ github.run_id }}
